[core]
	legacyheaders = false
	pager = less -R
[color]
	ui = auto
	interactive = auto
[diff]
	guitool = meld
	tool = meld
	mnemonicprefix = true
[difftool]
	prompt = false
[push]
	default = upstream
[alias]
	a = add
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	cm = commit
	co = checkout
	cp = cherry-pick
	d = diff
	dt = difftool -d
	f = fetch
	l = log --graph --oneline --decorate
	ll = log --color --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pr = pull --rebase
	st = status
